@media(min-width:300px) and (max-width:306px) {
    body{
        background: rgb(48, 47, 47);
    }
    a{
        text-decoration: none;
    }
    .navbar{
        background-color: yellow;
        padding: 0.005%;
    }
    .unordered{
        margin-left: -12%;
        display: flex;
    }
    li{
        list-style-type: none;
        padding: 1% 0%;
        margin-right: 5% ;
    }
    .list{
        background-color: rgb(58, 58, 58);
        padding: 1% 2%;
        border-radius: 2px;
        color: blue;
    }
    .invi{
        display: none;
    }
    .sea{
        display: none;
    }
    .search{
        margin-left: 200px;
        border: 3px solid rgb(253, 252, 252);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        position: relative;
        top: 4px;
    }
    .search::after{
        content: " ";
        position: relative;
        /* border: 2px; */
        height: 7px;
        background-color: rgb(255, 254, 254);
        left: 9px;
        top: 6px;
        transform: rotate(-45deg);
        width: 3px;
    }
    .menu1{
        background-color: rgb(66, 66, 66);
        border: 1px solid rgb(43, 42, 42);
        border-radius: 3px;
        width: 30px;
        padding: 2%;
    }
    .menu2{
        height: 3px;
        width: 20px;
        margin: 8% 0%;
        background-color: rgb(253, 250, 250);
    }
    .container{
        background: rgb(48, 47, 47);
        border-radius: 20px;
        margin: 5%;
        box-sizing: border-box;
        box-shadow: 10px 10px 16px rgb(34, 34, 34), -10px -10px 16px black;
        padding-top: 1%;
        color: blanchedalmond;
        padding-left: 20px;
        height: 480px;
    }
    img{
        width: 70px;
        margin-left: -20px;
        height: 70px;
        border-radius: 60%;
        box-shadow: 5px 5px 7px rgb(34, 34, 34), -5px -5px 7px black;
        margin-bottom: 2%;
    }
    .box2{
        width: 80%;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 16%;
        /* border: 1px solid oldlace; */
    }
    .box3{
        width: 100%;
        margin-bottom: 6%;
        /* border: 1px solid oldlace; */
    }
    .box4{
        width: 80%;
        margin-bottom: 16%;
        /* border: 1px solid oldlace; */
    }
    .box5{
        width: 80%;
        margin-bottom: 16%;
        /* border: 1px solid oldlace; */
    }
    .box6{
        width: 80%;
        margin-bottom: 6%;
        text-align: center;
        padding-left: 10px;
        /* border: 1px solid oldlace; */
    }
    input{
        background-color: rgb(27, 27, 27);
        color: blanchedalmond;
        padding: 10px 0%;
        height: 20px;
        padding-left: 15px;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: inset 6px 6px 6px rgb(24, 24, 24),inset -4px -4px 4px rgb(189, 187, 187);
    }
    input[type=submit]{
        background-color: pink;
        border: none;
        color: cornsilk;
        /* padding: 6px 12px; */
        height: 30px;
        width: 70%;
        margin-left: 35px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .box5:hover{
        box-shadow: none;
    }

}



@media(min-width:472px) and (max-width:697px) {
    body{
        background-color: black;
        color: white;
    }
    .navbar{
        background: rgb(14, 13, 13);
    }
    .unordered{
        display: flex;
        justify-content: flex-start;
        box-sizing: content-box;
    }
    li{
        list-style-type: none;
        /* border: 1px solid olivedrab; */
        padding: 2%;
        background-color: rgb(31, 30, 30);
        border-radius: 4px;
        margin-right: 1%;
    }
    .invi{
        display: none;
    }
    .sea{
        display: none;
    }
    .nope{
        margin-left: 50%;
    }
    .search{
        /* margin-left: 100px; */
        border: 3px solid rgb(253, 252, 252);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        position: relative;
        top: 4px;
    }
    .search::after{
        content: " ";
        position: absolute;
        /* border: 2px; */
        height: 7px;
        background-color: rgb(255, 254, 254);
        left: 9px;
        top: 6px;
        transform: rotate(-45deg);
        width: 3px;
    }
    .menu{
        margin-right: -5%;
    }
    .menu1{
        background-color: rgb(66, 66, 66);
        border: 1px solid rgb(43, 42, 42);
        border-radius: 3px;
        width: 30px;
        padding: 2%;
    }
    .menu2{
        height: 3px;
        width: 20px;
        margin: 8% 0%;
        background-color: rgb(253, 250, 250);
    }
}




@media(min-width:698px) and (max-width:859px) {
    body{
        background-color: black;
        color: white;
    }
    .navbar{
        background: rgb(14, 13, 13);
    }
    .unordered{
        display: flex;
        justify-content: flex-start;
        box-sizing: content-box;
    }
    li{
        list-style-type: none;
        /* border: 1px solid olivedrab; */
        padding: 2%;
        background-color: rgb(31, 30, 30);
        border-radius: 4px;
        margin-right: 1%;
    }
    .invi{
        display: none;
    }
    .sea{
        display: none;
    }
    #invi2{
        display: none;
    }
    .nope{
        margin-left: 20%;
    }
    .search{
        /* margin-left: 100px; */
        border: 3px solid rgb(253, 252, 252);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        position: relative;
        top: 4px;
    }
    .search::after{
        content: " ";
        position: absolute;
        /* border: 2px; */
        height: 7px;
        background-color: rgb(255, 254, 254);
        left: 9px;
        top: 6px;
        transform: rotate(-45deg);
        width: 3px;
    }
    .menu{
        display: none;
    }

}


@media(min-width:860px) {
    body{
        background-color: black;
        color: white;
    }
    .navbar{
        background: rgb(14, 13, 13);
    }
    .unordered{
        display: flex;
        justify-content: flex-start;
        box-sizing: content-box;
    }
    li{
        list-style-type: none;
        
        padding: 0.5%;
        background-color: rgb(31, 30, 30);
        border-radius: 4px;
        margin-right: 1%;
    }
    .nope{
        display: flex;
        margin-left: 10%;
        width: 40%;
        background: rgb(14, 13, 13);
    }
    .sea{
        display: inline;
    }
    #sea{
        display: inline;
        height: 25px;
        width: 290px;
    }
    .search{
       
        border: 3px solid rgb(253, 251, 251);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        position: relative;
        top: 4px;
        left: -14px;
        margin-left: 0%;
    }
    .search::after{
        content: " ";
        position: absolute;
        
        height: 7px;
        background-color: rgb(247, 245, 245);
        left: 9px;
        top: 6px;
        transform: rotate(-45deg);
        width: 3px;
    }
    .menu{
        display: none;
    }
}



@media(min-width:996px) and (max-width:1116px) {
    body{
        background-color: black;
        color: white;
    }
    .navbar{
        background: rgb(14, 13, 13);
    }
    .unordered{
        display: flex;
        justify-content: flex-start;
        box-sizing: content-box;
    }
    li{
        list-style-type: none;
        /* border: 1px solid olivedrab; */
        padding: 2%;
        background-color: rgb(31, 30, 30);
        border-radius: 4px;
        margin-right: 1%;
    }
    .list{
        font-weight: 900;
    }
    .nope{
        display: flex;
        margin-left: 5%;
        width: 30%;
    }
    .sea{
        display: inline;
    }
    #sea{
        display: inline;
        height: 25px;
        width: 250px;
    }
    .search{
        /* margin-left: 100px; */
        border: 3px solid rgb(253, 251, 251);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        position: relative;
        top: 4px;
        left: -14px;
        margin-left: 5%;
    }
    .search::after{
        content: " ";
        position: absolute;
        /* border: 2px; */
        height: 7px;
        background-color: rgb(247, 245, 245);
        left: 9px;
        top: 6px;
        transform: rotate(-45deg);
        width: 3px;
    }
    .menu{
        display: none;
    }    
    
}
@media(min-width:1325px){
    body{
        background-color: black;
        color: white;
    }
    .navbar{
        background: rgb(14, 13, 13);
    }
    .unordered{
        display: flex;
        justify-content: flex-start;
        box-sizing: content-box;
    }
    li{
        list-style-type: none;
        
        padding: 1%;
        background-color: rgb(31, 30, 30);
        border-radius: 4px;
        margin-right: 1%;
    }
    .list{
        font-weight: 900;
    }
    .nope{
        display: flex;
        margin-left: 30%;
        width: 25%;
    }
    .sea{
        display: inline;
    }
    #sea{
        display: inline;
        height: 25px;
        width: 290px;
    }
    .search{
       
        border: 3px solid rgb(253, 251, 251);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        position: relative;
        top: 4px;
        left: -34px;
        margin-left: 5%;
    }
    .search::after{
        content: " ";
        position: absolute;
        
        height: 13px;
        background-color: rgb(247, 245, 245);
        left: 10px;
        top: 7px;
        transform: rotate(-45deg);
        width: 6px;
    }
    .menu{
        display: none;
    }    
    
    

}
